@model personapi_dotnet.Models.Entities.Persona

<h2>Eliminar Persona</h2>

<h3>¿Estás seguro que deseas eliminar esta persona?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Apellido
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-id="@Model.Cc" method="post">
        <input type="hidden" asp-for="Cc" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>